<div class="profile-info">
  <ul>
    <li>Name: <%= @user.name.titleize %></li>
    <li>Email: <%= @user.email %></li>
  </ul>
</div>

<% if @user == current_user %>

  <a class="btn btn-default" href="/users/<%= @user.id %>/edit" role="button">Edit Profile</a>

  <form method="POST" action="/users/<%= @user.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input class="btn btn-default" type="submit" value="Delete Account">
  </form>

<% else %>

  <h4><%= @user.name.titleize %>'s Wines</h4>
  <div class="row">
    <% @user.wines.each do |wine| %>

      <div style="text-align:center" class="col-md-4">
        <a href="/wines/<%= wine.id %>">
          <img src="<%= wine.image_url %>" alt="<%= wine.name %>">
        </a>
        <br><br>

        <h5><a href="/wines/<%= wine.id %>"><%= wine.name.titleize %></a></h5>
        <ul>
          <li>Varietal - <%= wine.varietal.titleize %></li>
          <li>Appelation -	<%= wine.appelation.titleize %></li>
          <li>Vintage - <%= wine.vintage %></li>
          <li>Price - $<%= wine.price %></li>
        </ul>
      </div>

    <% end %>
  </div>
<% end %>




    
  
