<div class="row">
  <div class="col text-center"><h2>My Wines</h2></div>
<div>

<div class="row">
  <% @wines.each do |wine| %>

    <div class="col-md-4 text-center">
      <a href="/wines/<%= wine.id %>">
        <img src="<%= wine.image_url %>" alt="<%= wine.name %>">
      </a>
      <br><br>

      <h5><a href="/wines/<%= wine.id %>"><%= wine.name.titleize %></a></h5>
      <ul>
        <li>Varietal - <%= wine.varietal.titleize %></li>
        <li>Appelation -	<%= wine.appelation.titleize %></li>
        <li>Vintage - <%= wine.vintage %></li>
        <li>Price - $<%= wine.price %></li>
      </ul>
	  </div>

  <% end %>
</div>

