<h3>Add a New Wine</h3>

<form action="/wines" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" name="wine[name]" value="<%= @wine.name if @wine %>">
  </div>

  <div class="form-group">
    <label for="wine_varietal">Varietal</label>
    <input type="text" class="form-control" id="wine_varietal"  name="wine[varietal]" value="<%= @wine.varietal if @wine %>">
  </div>

  <div class="form-group">
    <label for="appelation">Appelation</label>
    <input type="text" class="form-control" id="appelation"  name="wine[appelation]" value="<%= @wine.appelation if @wine %>">
  </div>

  <div class="form-group">
    <label for="vintage">Vintage</label>
    <input type="text" class="form-control" id="vintage" placeholder="Enter NV if no Vintage"  name="wine[vintage]" value="<%= @wine.vintage if @wine %>">
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" id="name"  name="wine[price]" value="<%= @wine.price if @wine %>">
  </div>

  <div class="form-group">
    <label for="image_url">Image_URL</label>
    <input type="text" class="form-control" id="image_url"  name="wine[image_url]" value="<%= @wine.image_url if @wine %>">
  </div>

  <div class="form-group">
    <label for="tasting_notes">Tasting</label>
    <textarea type="text" class="form-control" id="tasting_notes"  name="wine[tasting_notes]" value="<%= @wine.tasting_notes if @wine %>"></textarea>
  </div>

  <button type="submit" class="btn btn-default">Add Wine</button>
</form>

